<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>Copyright © 2003-2004 Brian Bergstrand</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ext2</string>
	<key>CFBundlePackageType</key>
	<string>fs</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.1</string>
	<key>FSMediaTypes</key>
	<dict>
		<key>55465300-0000-11AA-AA11-00306543ECAC</key>
		<dict>
			<key>FSMediaProperties</key>
			<dict>
				<key>Content Hint</key>
				<string>55465300-0000-11AA-AA11-00306543ECAC</string>
				<key>Leaf</key>
				<true/>
			</dict>
			<key>FSProbeArguments</key>
			<string>-p</string>
			<key>FSProbeExecutable</key>
			<string>../../ext2fs.util</string>
			<key>FSProbeOrder</key>
			<integer>1000</integer>
		</dict>
		<key>Apple_UNIX_SVR2</key>
		<dict>
			<key>FSMediaProperties</key>
			<dict>
				<key>Content Hint</key>
				<string>Apple_UNIX_SVR2</string>
				<key>Leaf</key>
				<true/>
			</dict>
			<key>FSProbeArguments</key>
			<string>-p</string>
			<key>FSProbeExecutable</key>
			<string>../../ext2fs.util</string>
			<key>FSProbeOrder</key>
			<integer>1000</integer>
		</dict>
		<key>CD</key>
		<dict>
			<key>FSMediaProperties</key>
			<dict>
				<key>Content Hint</key>
				<string>CD_ROM_Mode_1</string>
				<key>Leaf</key>
				<true/>
			</dict>
			<key>FSProbeArguments</key>
			<string>-p</string>
			<key>FSProbeExecutable</key>
			<string>../../ext2fs.util</string>
			<key>FSProbeOrder</key>
			<integer>4000</integer>
		</dict>
		<key>EBD0A0A2-B9E5-4433-87C0-68B6B72699C7</key>
		<dict>
			<key>FSMediaProperties</key>
			<dict>
				<key>Content Hint</key>
				<string>EBD0A0A2-B9E5-4433-87C0-68B6B72699C7</string>
				<key>Leaf</key>
				<true/>
			</dict>
			<key>FSProbeArguments</key>
			<string>-p</string>
			<key>FSProbeExecutable</key>
			<string>../../ext2fs.util</string>
			<key>FSProbeOrder</key>
			<integer>3000</integer>
		</dict>
		<key>EXT2</key>
		<dict>
			<key>FSMediaProperties</key>
			<dict>
				<key>Content Hint</key>
				<string>EXT2</string>
				<key>Leaf</key>
				<true/>
			</dict>
			<key>FSProbeArguments</key>
			<string>-p</string>
			<key>FSProbeExecutable</key>
			<string>../../ext2fs.util</string>
			<key>FSProbeOrder</key>
			<integer>2000</integer>
		</dict>
		<key>Ext2</key>
		<dict>
			<key>FSMediaProperties</key>
			<dict>
				<key>Content Hint</key>
				<string>Ext2</string>
				<key>Leaf</key>
				<true/>
			</dict>
			<key>FSProbeArguments</key>
			<string>-p</string>
			<key>FSProbeExecutable</key>
			<string>../../ext2fs.util</string>
			<key>FSProbeOrder</key>
			<integer>2000</integer>
		</dict>
		<key>Ext3</key>
		<dict>
			<key>FSMediaProperties</key>
			<dict>
				<key>Content Hint</key>
				<string>Ext3</string>
				<key>Leaf</key>
				<true/>
			</dict>
			<key>FSProbeArguments</key>
			<string>-p</string>
			<key>FSProbeExecutable</key>
			<string>../../ext2fs.util</string>
			<key>FSProbeOrder</key>
			<integer>3000</integer>
		</dict>
		<key>Linux</key>
		<dict>
			<key>FSMediaProperties</key>
			<dict>
				<key>Content Hint</key>
				<string>Linux</string>
				<key>Leaf</key>
				<true/>
			</dict>
			<key>FSProbeArguments</key>
			<string>-p</string>
			<key>FSProbeExecutable</key>
			<string>../../ext2fs.util</string>
			<key>FSProbeOrder</key>
			<integer>2000</integer>
		</dict>
		<key>Linux_Ext2FS</key>
		<dict>
			<key>FSMediaProperties</key>
			<dict>
				<key>Content Hint</key>
				<string>Linux_Ext2FS</string>
				<key>Leaf</key>
				<true/>
			</dict>
			<key>FSProbeArguments</key>
			<string>-p</string>
			<key>FSProbeExecutable</key>
			<string>../../ext2fs.util</string>
			<key>FSProbeOrder</key>
			<integer>2000</integer>
		</dict>
		<key>Partitionless</key>
		<dict>
			<key>FSMediaProperties</key>
			<dict>
				<key>Leaf</key>
				<true/>
				<key>Whole</key>
				<true/>
			</dict>
			<key>FSProbeArguments</key>
			<string>-p</string>
			<key>FSProbeExecutable</key>
			<string>../../ext2fs.util</string>
			<key>FSProbeOrder</key>
			<integer>5000</integer>
		</dict>
	</dict>
	<key>FSPersonalities</key>
	<dict>
		<key>Ext2</key>
		<dict>
			<key>FSFormatArguments</key>
			<string>-F</string>
			<key>FSFormatContentMask</key>
			<string>Ext2</string>
			<key>FSFormatExecutable</key>
			<string>../../../../../../sbin/newfs_ext2</string>
			<key>FSFormatMinimumSize</key>
			<integer>524288</integer>
			<key>FSMountArguments</key>
			<string>amount</string>
			<key>FSMountExecutable</key>
			<string>../../../../../../sbin/mount_ext2</string>
			<key>FSName</key>
			<string>Ext2 File System</string>
			<key>FSRepairArguments</key>
			<string>-y</string>
			<key>FSRepairExecutable</key>
			<string>../../../../../../sbin/fsck_ext2</string>
			<key>FSVerificationArguments</key>
			<string>-q</string>
			<key>FSVerificationExecutable</key>
			<string>../../../../../../sbin/fsck_ext2</string>
		</dict>
	</dict>
</dict>
</plist>
